Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19042)

Matrix products: default

attached base packages:
[1] stats     graphics  grDevices utils     datasets 
[6] methods   base     

other attached packages:
 [1] ggsci_2.9          factoextra_1.0.7  
 [3] ggplot2_3.3.3      textmineR_3.0.4   
 [5] Matrix_1.2-18      stringi_1.5.3     
 [7] tm_0.7-8           NLP_0.2-1         
 [9] cluster_2.1.0      wordcloud_2.6     
[11] RColorBrewer_1.1-2 fpc_2.2-9         
[13] RTextTools_1.4.3   SparseM_1.78      
[15] proxy_0.4-24       readr_1.4.0       

