R version 4.0.2 (2020-06-22)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19042)

attached base packages:
[1] stats     graphics  grDevices utils     datasets 
[6] methods   base     

other attached packages:
ggsci==2.9 
factoextra==1.0.7  
ggplot2==3.3.3      
textmineR==3.0.4   
Matrix==1.2-18      
stringi==1.5.3     
tm==0.7-8           
NLP===0.2-1         
luster==2.1.0      
wordcloud==2.6     
RColorBrewer==1.1-2 
fpc==2.2-9         
RTextTools==1.4.3   
SparseM==1.78      
proxy==0.4-24       
readr==1.4.0       

